body {
    background-color: #eef4f7;
    padding-top: 5rem;
    color: #5a5a5a;
}

nav {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.affix {
    top: 20px;
    z-index: 9999 !important;
}

